.container-card {
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background: #beb8b8;
}
.card { /* Estilos básicos do card (largura, altura, bordas, sombras, etc.)*/
    position: relative;
    width: 300px;
    height: 400px;
    top: 100px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.9);
    transition: transform 0.3s ease, filter 0.3s ease;
    background: #fff;
    filter: blur(2px);
    cursor: pointer;
}

.card:hover { 
    transform: scale(1.05);
    z-index: 10;
    filter: blur(0.1px);
}

.card::before, 
.card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:before {
    transform: translateX(-100%);
}

.card:after {
    transform: translateX(100%);
}

.card:hover:before {
    transform: translateX(0);
    background-color: rgba(255, 0, 0, 0.2);
}

.card:hover:after {
    transform: translateX(0);
    background-color: rgba(0, 0, 255, 0.2);
}

.card h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    z-index: 1;
}

.imagem {
    display: block;
    width: 100%;
    height: 230px;
    z-index: 1;
}

.descricao {
    padding: 15px;
    font-size: 16px;
    text-align: center;
    z-index: 1;
}