/* INICIO CARD GIRATORIO */ 
.container-card {
    margin: 0 auto;
    max-width: 120rem;
    width: 100%;
}

.wrapper1,
.wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 0 2rem;
    width: 25%;
    height: 28rem;
    text-align: center;
    perspective: 60rem;
}

.card_inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    position: relative;
}

.card:hover .card_inner {
    transform: rotateY(-180deg);
    transition: transform 1s;
    transition-delay: .5s;
}

.card_front,
.card_back {
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 1.6rem;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .05);
}

.card_front {
    border-radius: 3rem 0 3rem 0;
}

.card_back {
    border-radius: 0 3rem 0 3rem;
    transform: rotateY(-180deg);
}

.card_img {
    width: 100%;
    height: 20rem;
}

.card_titulo {
    margin-top: 2rem;
    font-weight: 500;
}

.card_descricao,
.foco_descricao {
    margin: 10px 0;
    font-size: 1em;
    color: #555;
    text-align: center;
}

.card_back {
    transform: rotateY(-180deg);
    overflow: hidden;
    background: #a09f9fc7;
}

.list_wrapper {
    padding: 2rem;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    text-align: center;
}

.list_wrapper::-webkit-scrollbar {
    width: 0.4rem;
}

.list_wrapper::-webkit-scrollbar-track-piece {
    background: transparent;
}

.list_wrapper::-webkit-scrollbar-thumb {
    background: #d9d9d9;
    border-radius: 99rem;
}

.list_wrapper li {
    margin-bottom: 1rem;

}

.list_wrapper a {
    display: block;
    font-size: 2rem;
    line-height: 1.2;
    position: absolute;
    bottom: 20px;
    text-align: center;
}

.list_wrapper a:hover {
    color: blueviolet;
}
/* FIM CARD GIRATORIO */