.container-fundo {
    min-height: 100vh; /*100% da tela*/
    background: #0c192c;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; /*Vai esconder tudo que estiver fora do container, no caso o scroll que apareceu */
}

.titulo h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    font-family: sans-serif;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    transform: translate(2%, 300px);
    
}

.titulo a {
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff;
    font-size: 20px;
    transform: translate(2%, 300px);
    display: flex;
    
}

.bolhas {
    position: absolute;
    display: flex;
}

.bolhas span {
    width: 30px;
    height: 30px;
    background: #e5ff00; /* Até aqui criamos um elemento que no caso foi um quadrado*/
    margin: 0 4px;
    border-radius: 50%; /* Arredondamos esse quadrado, virou um circulo*/
    box-shadow: 0 0 0 10px #e5ff0044,
    0 0 50px #e5ff00,
    0 0 100px #e5ff00; /* Criamos o brilho da bola*/
    animation: animar calc(150s / var(--i)) linear infinite; /*Vai dividir em 30 segundos a quantidade de itens no caso --i*/

}

@keyframes animar { /*Ele vai animar de baixo até em cima */
    0% {
        transform: translateY(100vh) scale(0); /*quero que ele saia 100% da minha tela ate -10vh*/
    }
    100% {
        transform: translateY(-10vh) scale(1); 
    }
}
.bolhas span:nth-of-type(even) { /*Vai pegar os números pares*/
    background: #2dc3ff;
    box-shadow: 0 0 0 10px #e5ff0044,
    0 0 50px #2dc3ff,
    0 0 100px #2dc3ff;
}