.tudo {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #607d8b;
}

.container-xicara {
    position: relative;
    top: 50px;
}

.xicara {
    position: relative;
    width: 280px;
    height: 300px;
    background: linear-gradient(to right, #f9f9f9,#d9d9d9);
    border-bottom-left-radius: 45%; /* Deu uma curva no lado esqurdo da xicara */
    border-bottom-right-radius: 45%; /* Mesma coisa porém do lado direito */
}

.topo {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #f9f9f9,#d9d9d9);
    border-radius: 50%;
}

.circulo { /* Parte de cima da xicara*/
    position: absolute;
    top: 5px;
    left: 10px;
    width: calc(100% - 20px);
    height: 50px;
    background: linear-gradient(to left, #f9f9f9,#d9d9d9);
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

.cha { /* Criando o chá*/
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#c57e65,#e28462);
    border-radius: 50%;
}

.alca {
    position: absolute;
    right: -70px; /* Colo cando ela para a direita */
    top: 40px; /* Lugar/posição que vai ficar */
    width: 160px;
    height: 180px;
    border: 25px solid #dcdcdc;
    border-left: 25px solid transparent; /* Deixando a parte da esquerda(do quadrado) transparente*/
    border-bottom: 25px solid transparent; /* Deixandi a parte de baixo transparente*/
    border-radius: 50%; /* Arredondando o quadrado */
    transform: rotate(42deg); /* Rotacionando a Alça*/
}